.question-index h4 {
  padding: 5px 0;
}

.question-index > h4:first-child{
  border-bottom: 2px solid #ccc;
  width: 100%;
}

.answer-index {
  width: 60%;
  display: block;
}

.answer-index > h4:first-child{
  border-bottom: 2px solid #ccc;
  width: 100%;
}

.answer-index h4 {
  padding: 5px 0;
}

.answer-box {
  padding: 10px 0;
}

.answer-box > a {
  display: block;
  color: #A9A9A9;
  padding: 10px 0;
  font-size: 14px;
}

.question-index a:hover {
  text-decoration: underline;
}

.answer-index a:hover {
  text-decoration: underline;
}

.answer-box h3 {
  font-size: 20px;
  cursor: pointer;
}

.answer-box h3:hover {
  text-decoration: underline;
}

.answer-box .question-links > li:nth-child(2n) > button {
  background: #D3D3D3;
  color: #708090;
  border: 1px solid #708090;
}

.answer-box .question-links > li:nth-child(2n) > button:hover {
  background: #708090;
  color: #fff;
}

.hidden-form {
  border-radius: 3px;
  margin-top: 20px;
  display: none;
  width: 100%;
  overflow: hidden;
  background: #E5DEDE;
}

.hidden-form > div {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.hidden-form > div h4 {
  padding: 0 0 10px 0;
}

.hidden-form > div a {
  font-size: 14px;
}

.hidden-form .author-photo {
  width: 45px;
  height: 45px;
}

.hidden-form > input[type="submit"] {
  padding: 10px 0;
  align-self: flex-end;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: #5F779F;
  font-size: 14px;
}

.hidden-form > input[type="submit"]:hover {
  background: #EA5A5F;
  color: #fff;
}

.toggled .hidden-form {
  display: flex;
  flex-direction: column;
}

.toggle {
  background: #EA5A5F;
  color: #fff;
  border: 1px solid #CB242A;
}

.toggle:hover {
  background: #CB242A;
  box-shadow: 5px #000;
}

.answer-bio {
  display: none;
}

.answer-input {
  height: 150px;
  width: auto;
  background: #fff;
  border-left: 1px solid #F2EBEB;
  border-right: 1px solid #F2EBEB;
  resize: none;
}
