.comments {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comments .comment-form {
  display: flex;
  flex-direction: row;
}

.comment-form > form {
  display: flex;
  width: 75%;
}
.comment-form > form > input[type="submit"] {
  padding: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: block;
  height: 18px;
  margin: 5px 0;
}

.comment-form > form > input[type="text"] {
  min-width: 75%;
}

.hidden {
  display: none;
}

.comment-item {
  display: flex;
  padding: 10px 5px;
  flex-wrap: wrap;
  padding-bottom: 10px;
  background: whitesmoke;
}

.comment-item:nth-child(2n) {
  background: #F2EBEB;
}

.comment-item h4 {
  padding: 0 0 10px 0;
}

.author-photo {
  background-image: url("francis-drake.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
