.question-index {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.question-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.question-box {
  display: flex;
  flex-direction: column;
  white-space: normal;
  height: 5%;
  margin-bottom: 30px;
}

.question-box > h3 {
  cursor: pointer;
  overflow: hidden;
}

.question-box > h3:hover {
  text-decoration: underline;
}

.question-box > div {
  padding: 10px 0;
  display: flex;
  overflow: hidden;
}

.question-box > div > div {
  max-height: 150px;
}

.question-box > div > div > p {
  overflow: hidden;
  max-height: 100%;
}

.cover-photo > img {
  width: 200px;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  resize: 200px 200px;
  margin: 0 10px 0 0;
}

.question-links {
  display: flex;
  align-items: baseline;
}

.question-links > li:nth-child(n + 2) {
  margin-left: 10px;
  color: #aaa;
  cursor: pointer;
}

.question-links > li:nth-child(n + 2):hover {
  text-decoration: underline;
}

.hidden > div {
  display: none;
}
