.session-content {
  height: 100vh;
  font-family: helvetica;
  background-image: url("temple.jpg");
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

.root-header {
  padding-top: 10%;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  align-items: center;
}

.root-header > h1 {
  font-size: 72px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #008B8B;
  font-weight: bold;
  color: #20B2AA;
}

.registration {
  width: 20%;
  min-width: 400px;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
  padding: 10px;
  display: flex;
}

.register-form label {
  font-weight: bold;
  font-size: 12px;
  color: #708090;
}

.register-form > div {
  display: flex;
  flex-direction: column;
}

.registration button {
  width: 130px;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  border: 0;
  background: #CB3E3E;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.registration button:hover {
  background: #AE3737;
}

.registration a {
  padding: 10px;
}

.registration-links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5px;
  padding-right: 20px;
}

.register-form  {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 5px;
}

.register-form > input[type="submit"] {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  background: #6495ED;
  border: 0;
  color: #fff;
}
