.user-home {
  display: block;
  width: 100%;
}

.user-home header {
  display: flex;
  height: 150px;
  width: 100%;
  align-items: flex-end;
}

.user-home img {
  max-height: 150px;
  width: auto;
}

.user-home input[type="file"] {
  display: none;
}

.user-body {
  display: flex;
  flex-direction: row;
}

.user-sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.user-sidebar > ul {
  display: flex;
  flex-direction: column;
}

.user-output {
  width: 50%;
}
