.question-detail {
  width: 90%;
  margin: 0 auto;
}

.question-detail .answer-index {
  width: 100%;
}

.question-detail > header > p {
  padding: 20px 0;
}

.detail-links {
  display: flex;
  flex-direction: row;
}

.detail-links > li > a {
  padding: 10px 10px 10px 0;
  color: #A9A9A9;
}

.detail-links > li > a:hover {
  text-decoration: underline;
}

.detail-page-answer > div:first-child {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-page-answer > div:first-child > button {
  margin: 30px 0;
}

.detail-answer-box {
  margin-bottom: 10px;
}

.detail-answer-box .author-photo {
  height: 35px;
  width: 35px;
}

.detail-answer-box > div:first-child {
}

.detail-answer-box > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.question-detail .cover-photo, .user-home .cover-photo {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
  width: 100%;
  background: #ECEBEB;
}

.question-detail .cover-photo > img, .user-home .cover-photo > img {
  display: flex;
  height: 300px;
  width: auto;
  max-width: 100%;
  margin-bottom: 20px;
  margin: 0 auto;
}

.detail-answer-box > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.detail-answer-box .question-links {
  margin: 20px 0;
}

.detail-answer-header {
  padding: 20px 0;
}
