.home-header {
  border-top: 3px solid #008B8B;
  display: flex;
  background: #fff;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-height: 52px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.home-nav {
  display: flex;
  margin: 0 auto;
  min-width: 50%;
  justify-content: space-between;
}

.home-nav > div:first-child {
  display: flex;
  align-items: baseline;
}

.home-links {
  display: flex;
}

.home-links > li > a, .home-links > li > button {
  display: flex;
  font-size: 16px;
  padding: 17px 10px;
  font-weight: bold;
  background: transparent;
  border-radius: 0;
  border: 0;
  color: #008B8B;
}

.home-links button {
  width: auto;
}

.home-links > li > a:hover, .home-links > li > button:hover {
  background: #EA5A5F;
  color: #fff;
}

.focused .home-links {
  display: none;
}

.home-nav .toggle {
  display: none;
}

.describe-hidden {
  display: none;
}

.search-form {
  display: flex;
}

.search-form logo {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: #20B2AA;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #008B8B;
  height: 30px;
  padding: 11px;
}

.search-form > input[type="text"] {
  display: block;
  padding: 5px 10px;
  height: 20px;
  margin: 10px 0 10px 5px;;
  width: 300px;
}

.focused .search-form > input[type="text"] {
  margin-right: 10px;
}

.focused .search-form > input[type="text"] {
  width: 600px;
}

.search-form > input[type="submit"] {
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  height: 20px;
  margin: 10px 0;
  margin-right: 20px;
  border-radius: 0;
  color: #2F4F4F;
}

.focused .search-form > input[type="submit"] {
  background: #20B2AA;
  color: #fff;
  border: 1px solid #008B8B;
}

.focused .search-list {
  display: flex;
}

.search-list {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 31%;
  top: 65px;
  left: 33%;
  border-radius: 3px;
  padding: 5px;
  background: #fff;
}

.search-list > li:nth-child(n) {
  background: #FFFFF0;
}

.search-list > li:nth-child(2n) {
  background: #FFFAF0;
}

.search-list > li {
  padding: 5px;
  border-top: 1px solid #eee;
  margin: 0 5px;
}

.search-list > li:first-child {
  text-align: center;
  color: #EA5A5F;
  border-top: 0;
  font-weight: bold;
}
